{% extends "this_project/main_public.html" %}

{% load i18n %}

{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{% trans 'Reset your password' %}</h3>
          <p>{% trans 'Check your email for a link to reset your password.' %}
          {% include 'accounts/pwd/includes/done_footer.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
