{% extends "this_project/main_public.html" %}

{% load i18n %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card">
      <div class="card-header text-muted text-center">
        {% trans 'Already have an account?' %}
        <a href="{% url 'accounts:login' %}">
          {% trans 'Log in' %}
        </a>
      </div>
      <div class="card-body">
        <h2>{% trans "Sign up" %}</h2>
        <form method="post" novalidate>
          {% csrf_token %}
          {% include 'common/form.html' %}
          <button type="submit" class="btn btn-primary">{% trans 'Create an account' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
