{% extends "opentrafficweb/main_public.html" %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block extrahead %}
  {{ block.super }}

{% endblock extrahead %}

{% block content %}
  {{ block.super }}

  <div id="time"></div>

  <div>
    <div id="lat"></div>
    <div id="lon"></div>
  </div>

  <div>
    <span id="distance"></span>,
    <span id="duration"></span>,
    <span id="speed_average"></span>

  <div>
    <span id="speed_now"></span>
    <span id="azimuth_now"></span>
  </div>
{% endblock content %}

{% block finaljs %}
<script src="{% static '_geo/js/geoutils.js' %}"></script>
<script src="{% static '_geo/vendor/geopoint/geopoint.js' %}"></script>
<script src="{% static 'main/js/home.js' %}" defer></script>
{% endblock finaljs %}
